/* css styles */

.navbar-dark {
  background-color: #1f1f1f !important;
  color:white;
}

.navbar{
  background-color: #121111 !important;
  color:white;
}

#quarto-content {
  background-color: #1f1f1f;
}

.img_parent {
  width: 10vw;
  float: right;
}

.img_container {
  display: flex;
  width: 10vw;
  flex-wrap: wrap;
}

.img_rounded {
  width: 35%;
  height: 35%;
  padding: 20px;
  border-radius: 50%
}

