/* css styles */

.navbar-dark {
  background-color: #1f1f1f !important;
  color:white;
}

.navbar{
  background-color: #121111 !important;
  color:white;
}

#quarto-content {
  background-color: #1f1f1f;
}

.img_parent {
  width: 7.5vw;
  float: right;
}